@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<address>
    <strong>Dirección:</strong>
    Ecuador-Guayaquil<br />
    Av. 9 de Octubre<br />
    <strong>Teléfono:</strong>
    044665877
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@aseguradora.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@aseguradora.com</a>
</address>


