@{
    ViewBag.Title = "Home Page";
}
<body>
    <div class="jumbotron">
        <img src="~/Content/Image/Logo.png">
        <p class="lead">
            ¿Por qué necesitas un Seguro de Vida?
            Un seguro de vida te brinda tranquilidad para cuidar de tu patrimonio pero también es una forma de ahorro y proveer seguridad financiera en caso de accidentes.
        </p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Clientes</h2>
            <p>
                La tranquilidad de los tuyos es muy importante; por eso es esencial que planifiques su futuro en el caso de cualquier eventualidad.
                Te has preguntado ¿qué va a pasar con mis seres queridos cuando yo no esté? Hay muchas maneras de garantizar que tu familia esté bien si un día llegaras a faltar, pero el seguro de vida es el único mecanismo garantizado de protección familiar.
            </p>
            <p><a href="~/Cliente/Index/" class="btn btn-primary btn-lg">Ver mas &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Seguros</h2>
            <p>
                Sienta el respaldo y la tranquilidad de saber que el futuro de su familia y su patrimonio están protegidos. Nuestra amplia gama de planes le brindan múltiples soluciones según sus necesidades y planificación financiera.
            </p>
            <p><a href="~/Seguros/Index/" class="btn btn-primary btn-lg">Ver mas &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Contacto</h2>
            <p>Cotiza tu seguro de vida con nosotros tenemos los mejores planes para ti</p>
            <p><a href="~/Home/Contact/" class="btn btn-primary btn-lg">Ver mas &raquo;</a></p>
        </div>
    </div>
</body>
<style>
    body {
        background-image: url(/Content/Image/Fondo2.png);
        background-size:cover;
    }
</style>

